<h1>Lista de postagens:</h1>

<div>
    <a href="/admin/postagens/add"> <button class="btn btn-success">Nova postagem</button></a>
</div>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body mt-4">
            <h4>{{titulo}}</h4>
            <br>
            Descrição: {{descricao}}
            <br>
            <small> Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data da postagem: {{dataCriacao}} </small>
            
        </div>
    </div>
{{else}}
<div>Nenhuma postagem</div>
{{/each}}